.todoForm {
  $form-width: 1000px;
  $head-height: 55px;
  $content-height: 450px;
  $border-size: 2px;
  $border-color: #2e2e2e;
  $border: $border-size solid $border-color;

  width: $form-width;

  @mixin round-border {
    border: $border;
    border-radius: 5px;
  }

  .topPanel {
    @include round-border();
    height: $head-height;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;

    .search {
      width: 300px;
      height: 100%;
      outline: none;
      border-radius: 5px;
      border: 1px solid gray;
      padding-left: 7px;
      padding-right: 7px;
      margin-left: auto;

      &:focus {
        border: 1.7px solid #0d5bd7;
      }
    }

    .addTodoItem {
      width: 200px;
      height: 100%;
      border-radius: 5px;
      border: 1px solid gray;
      background-color: rgba(gray, 0.05);

      &:hover {
        cursor: pointer;
        background-color: rgba(gray, 0.15);
      }

      &:active {
        background-color: rgba(gray, 0.25);
      }
    }
  }

  .content {
    @include round-border();
    height: $content-height;
    display: flex;

    .todoList {
      height: 100%;
      width: 30%;
      min-width: 150px;
      max-width: calc(100% - 250px);
      resize: horizontal;
    }

    .resizer {
      height: 100%;
      width: 0;
      border-right: $border;
      cursor: col-resize;
    }

    .todoEditor {
      flex: 1;
    }
  }
}
