@use '/src/assets/fonts/Roboto/Roboto.module.scss';

* {
  font-family: 'Roboto';
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
